<nav class="mb-20">
  <ul class="flex gap-4 justify-end py-4">
    <li>
      <%= link_to "About me", root_path, class: "navbar-link text-pretty body-text font-light after:bg-indigo-500" %>
    </li>
    <li>
      <%= render(UserInterface::DropdownMenu.new) do %>
        <ul class="p-4 bg-pink-50 border rounded-xl rounded-tr-none columns-2 max-h-full overflow-scroll">
          <li>
            <%= link_to(custom_event_system_experiment_index_path, class: 'flex gap-1 items-baseline') do %>
              <p class="text-pretty body-text font-light align-middle underline decoration-stone-700">Custom Event System</p>
              <%= icon('fa-solid', 'square-arrow-up-right', class: 'text-pink-500 text-sm ml-0.5') %>
            <% end %>
          </li>
          <li>
            <%= link_to(custom_event_system_experiment_index_path, class: 'flex gap-1 items-baseline') do %>
              <p class="text-pretty body-text font-light align-middle underline decoration-stone-700">Custom Event System</p>
              <%= icon('fa-solid', 'square-arrow-up-right', class: 'text-pink-500 text-sm ml-0.5') %>
            <% end %>
          </li>
          <li>
            <%= link_to(custom_event_system_experiment_index_path, class: 'flex gap-1 items-baseline') do %>
              <p class="text-pretty body-text font-light align-middle underline decoration-stone-700">Custom Event System</p>
              <%= icon('fa-solid', 'square-arrow-up-right', class: 'text-pink-500 text-sm ml-0.5') %>
            <% end %>
          </li>
          <li>
            <%= link_to(custom_event_system_experiment_index_path, class: 'flex gap-1 items-baseline') do %>
              <p class="text-pretty body-text font-light align-middle underline decoration-stone-700">Custom Event System</p>
              <%= icon('fa-solid', 'square-arrow-up-right', class: 'text-pink-500 text-sm ml-0.5') %>
            <% end %>
          </li>
          <li>
            <%= link_to(custom_event_system_experiment_index_path, class: 'flex gap-1 items-baseline') do %>
              <p class="text-pretty body-text font-light align-middle underline decoration-stone-700">Custom Event System</p>
              <%= icon('fa-solid', 'square-arrow-up-right', class: 'text-pink-500 text-sm ml-0.5') %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>
  </ul>
</nav>
