<article>
  <h2 class='text-xl underline underline-offset-4 decoration-violet-500'>
    About me 🤓
  </h2>
  <div class='pt-2 mb-4 leading-7'>
    <p>
      Hey! I'm  Gustavo, but people normally call me Chen. I am an
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'clipboard', background_color: 'violet-300', content: 'electrical engineer')) %>
      turned 
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'keyboard', background_color: 'sky-200', content: 'full-stack developer')) %>
      with a passion for creating fun projects like this one. I see web development not only as a means of bringing business to life, but as a way to 
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'message', background_color: 'purple-200', content: 'express my creativity')) %>
      and
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'face-smile', background_color: 'yellow-200', content: 'bring joy to others')) %>
      and to myself by working on these things. I'm based in
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'heart', background_color: 'green-200', content: 'Brazil')) %>
      and currently working as a remote
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'gem', background_color: 'red-300', content: 'Ruby on Rails developer')) %>
      to
      <%= render(UserInterface::IconTag.new(icon_family: 'fa-regular', icon_name: 'handshake', background_color: 'zinc-300', content: 'New York')) %>
    </p>
  </div>

  <%= render(Home::Experiences.new) %>
</article>
